- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      = render 'layouts/components/fct_lists_selector2s'
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-6
              #order-static-pie.chart-size
          .row.mt-3
            .col-md-12
              #order-count-perday-line.chart-size

      = render "layouts/bootstrap/card"
