.order-opening {
    background-color: #FF5722;
}
.order-assign {
    background-color: #2F4056;
}
.order-processing {
    background-color: #1E9FFF;
}
.order-processed {
    background-color: #F5A71F;
}
.order-transfer {
    background-color: #45CF82;
}
.order-awaiting {
    background-color: #F4C500;
}
.order-unsettled {
    background-color: #FF0000;
}
.order-completed {
    background-color: #009688;
}
