.order-opening {
    background-color: #ff5722;
}
.order-assign {
    background-color: #2F4056;
}
.order-processing {
    background-color: #1E9FFF;
}
.order-processed {
    background-color: #009688;
}
.order-transfer {
    background-color: #45CF82;
}
.order-awaiting {
    background-color: #F4C500;
}
.order-unsettled {
    background-color: #FF0000;
}
.order-completed {
    background-color: #ff5722;
}
.order-info-ctn {
  height: 350px;
  overflow-y: scroll;
}
.order-index-active {
  background: bisque;
}
#toolbar .order-opening:focus, #toolbar .order-opening:hover  {
  background-color: #ff5722;
}
#toolbar .order-assign:focus, #toolbar .order-assign:hover {
  background-color: #2F4056;
}
#toolbar .order-processed:focus, #toolbar .order-processed:hover {
  background-color: #009688;
}
