.row.border.m-1.p-3.bg-white
  .col-2.text-left
    %label.checkbox-inline.mr-5
      = check_box_tag 'select-all', nil 
      = '全选'
  - @factories.each do |f|
    .col-2.text-left
      %label.checkbox-inline.mr-5
        = check_box_tag 'fcts', idencode(f.id), nil, {array: true} 
        = f.name

<script>
function select_checkbox_all(select_all, checkbox_name) {
$("#" + select_all).click(function() {
flag = $(this).is(":checked");
if (flag) {
$("input[name='" + checkbox_name + "']").prop('checked', true);
} else {
$("input[name='" + checkbox_name + "']").prop('checked', false);
}
})
}
select_checkbox_all("select-all", "fcts")

//与日期选择区间搭配时用这个函数
function fct_date_event(table, url) {
var start = $("#start").val();
var end = $("#end").val();
var fcts = gon.fct;
$("input[name='select-all']").prop('checked',true);
$("input[name='fcts']").prop('checked',true);

request_params = {start: start, end: end, fcts: fcts}
loadDataToBstpTable(table, url, request_params)

$(".area-time-search").on('click', function(e) {
var start = $("#start").val();
var end = $("#end").val();
var fcts = "";
var check_boxes = $("input[name='fcts']:checked");
$.each(check_boxes, function(){
fcts += $(this).val() + ","
});

request_params = {start: start, end: end, fcts: fcts}
loadDataToBstpTable(table, url, request_params)
})
}
</script>
